[Unit]
Description=Eyewear Bot Service
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/projects/eyewear-bot
ExecStart=/opt/projects/venv/bin/python3 /opt/projects/eyewear-bot/app.py
EnvironmentFile=/opt/projects/eyewear-bot/.env
Restart=always
StandardOutput=append:/opt/projects/logs/eyewear-bot.log
StandardError=append:/opt/projects/logs/eyewear-bot.log

[Install]
WantedBy=multi-user.target